<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <title>@ViewBag.Title SystemADM</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/App_Themes/Light_Theme/site.css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <!--sidebar -->
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <h1>@Html.ActionLink("System ADM", "Index")</h1>
                <ul class="list-unstyled components mb-5">

                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        @if (Session["count"] != null)
                        {
                            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href=@Url.Action("userProfile", "Login", FormMethod.Get) role="tab" aria-controls="v-pills-home" aria-selected="true">Profil</a>
                            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href=@Url.Action("Logout", "Login", FormMethod.Get) role="tab" aria-controls="v-pills-home" aria-selected="true">Wyloguj się</a>
                        }
                    </div> 
                    <br /><br />

                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Przeglądaj</a>
                              <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href=@Url.Action("Index", "Tickets") role="tab" aria-controls="v-pills-home" aria-selected="true">Zgłoszenia</a>
                              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href=@Url.Action("Index", "Notes") role="tab" aria-controls="v-pills-profile" aria-selected="false">Notatki</a>
                          </div>
                </ul>

               @if ((Session["typ_uzytkownika"].ToString() == "admin") || (Session["typ_uzytkownika"].ToString() == "super_admin"))
               {
                <ul class="list-unstyled components mb-5">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin Panel</a>
                        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href=@Url.Action("Index", "Buildings") role="tab" aria-controls="v-pills-home" aria-selected="true">Budynki</a>
                        @if (Session["typ_uzytkownika"].ToString() == "super_admin")
                        {
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href=@Url.Action("Index", "Users") role="tab" aria-controls="v-pills-profile" aria-selected="false">Użytkownicy</a>
                        }
                    </div>
                </ul>
               }
                <div class="footer">
                    <p>
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script>
                    </p>
                </div>
            </div>
        </nav>

        <div id="content" class="p-4-md-5 pt-5">
            @RenderBody()
            <hr />
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    
</body>
</html>
